@font-face {
    font-family: 'DeterminationMonoWeb';
    font-style: normal;
    font-weight: 400;
    src: local('DeterminationMonoWeb'), local('DeterminationMonoWeb'), url(assets/fonts/DeterminationMonoWeb.woff) format('woff');
}
body {
    font-family: 'DeterminationMonoWeb', sans-serif;
    background: #121212;
    color: white;
    text-align: center;
}
#autor {
    margin-bottom: 0;
}
#zacate, #flowey {
    display: none;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#boton, #whatisthisboton {
    display: block;
    width: auto;
    margin: 8px auto 8px auto;
}
#whatisthisboton, .hidden {
    display: none;
}
.divonform {
    display: block;
    margin-top: 5px;
}
iframe[name='dummy'] {
    display: none;
}
a {
    outline: none;
    text-decoration: none;
}
#flowey {
    display: none;
    max-width: 70%;
}
